
    <div class="jumbotron">
        <div class="container">
            <h1>{{league.caption}}</h1>
            <p><b>Year</b>: {{league.year}}</p>
        </div>
    </div>

    <div class="row">
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Position</th>
                        <th>Name</th>
                        <th>Points</th>
                        <th>Games</th>
                        <th>Wins</th>
                        <th>Draws</th>
                        <th>Defeats</th>
                        <th>Goals</th>
                        <th>GoalsAgainst</th>
                        <th>GoalsDifference</th>
                    </tr>
                </thead>
                <tbody>
                {{#each leagueTables}}
                    <tr>
                        <th style="text-align: center">{{position}}</th>
                        <td><img src="{{crestURI}}" width="40" height="40"> <a href="/football-data/leagues/{{../league.id}}/teams/{{idT}}/players">{{teamName}}</a></td>
                        <td style="text-align: center"><b>{{points}}</b></td>
                        <td style="text-align: center">{{playedGames}}</td>
                        <td style="text-align: center">{{wins}}</td>
                        <td style="text-align: center">{{draws}}</td>
                        <td style="text-align: center">{{losses}}</td>
                        <td style="text-align: center">{{goals}}</td>
                        <td style="text-align: center">{{goalsAgainst}}</td>
                        <td style="text-align: center">{{goalDifference}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>
