
    <div class="jumbotron">
        <div class="container">
            <h1>{{team.name}}</h1>

            {{#if user}}
                <p><a href="/football-data/leagues/{{team.idL}}/teams/{{team.id}}/teamFixtures">Fixtures</a></p>

                <form action = "/favorites/insertTeam" method="post">
                    <input name = "idL" value="{{team.idL}}" style="display:none" />
                    <input name = "idT" value="{{team.id}}" style="display:none" />
                    <select name = "favoriteName">
                        <option selected disabled hidden value=''></option>
                        {{#each favoriteNames}}
                            <option value="{{name}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <button type = "submit" class = "btn btn-primary">Add team to your favorites</button>
                </form>
            {{/if}}

        </div>
    </div>

    <div class="row">
    {{#each players}}
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="/images/noPhoto.jpeg" width="100" height="100">
                <div class="caption" style="text-align: center">
                    <h3>{{name}}</h3>
                    <p>Position: {{position}}</p>
                    <p>Number: {{jerseyNumber}}</p>
                    <p>Birth: {{dateOfBirth}}</p>
                    <p>Nationality: {{nationality}}</p>
                    <p>Contract until: {{contractUntil}}</p>
                    <p>Value: {{marketValue}}</p>
                </div>
            </div>
        </div>
    {{/each}}
    </div>
