
    <div class="jumbotron">
        <div class="container">
            <h1>{{league.caption}}</h1>
            <p><b>Year</b>: {{league.year}}</p>
            <p>Total games: {{league.numberOfGames}}</p>
            <p>Total teams: {{league.numberOfTeams}}</p>
            <p><a href="/football-data/leagues/{{league.id}}/fixtures">Fixtures</a> <b>-</b> <a href="/football-data/leagues/{{league.id}}/leagueTables">League tables</a></p>
        </div>
    </div>

    <div class="row">
    {{#each teams}}
        <div class="col-md-4 teamsCSS" >
            <h2><a href="/football-data/leagues/{{../league.id}}/teams/{{id}}/players">{{name}}</a></h2>
            <p>Short name: {{code}}</p>
            <p>Value: {{squadMarketValue}}</p>
            <img src="{{crestUrl}}" width="100" height="100" class="imgCSS"/>
        </div>
    {{/each}}
    </div>

